@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* ESTILIZAÇÃO DA NAVBAR COMPLETA */
.navbar{
    background-color: #ffcdd2;
}

.navbar-brand img{
    max-height: 100px;
}

.navbar .collapse{
    justify-content: flex-end;
}
.nav-item{
    height: 100px;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: background-color .3s
}
.nav-item:hover{
    background-color: rgba(0,0,0,0.1);
}

/* ESTILIZAÇÃO DOS DESTAQUES1 */
.destaques1{
    color: #fff;
}

.vagas h2,
.classificados h2,
.curriculos h2{
    font-weight: 900;
    font-size: 3.56rem;
    display: block;
}
.vagas span,
.classificados span,
.curriculos span{
    font-size: 2em;
    display: flex;
    width: 100%;
    justify-content: center;
}

.btm{
    padding: 0.35rem;
    margin-top: 5px;
}

.cadastro1{
    background-color: #FF9800;
}
.cadastro2{
    background-color: #4CAF50;
}
.vagas{
    background-color: #01579b;
}
.curriculos{
    background-color: #E65100;
}
.classificados{
    background-color: #004D40;
}

/* ESTILIZAÇÃO DESTAQUE2 */
.destaques2{
    margin: 50px 0;
}
.card, .card img{
    border-radius: 0;
}

.card-title{
    display: inline-block;
    text-align: start;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    background-color: #2196F3;
    height: 32px;
    padding: 0 12px;
    line-height: 32px;
    margin-bottom: 10px;
}
.eventos{
    background-color: #E91E63;
}
.diversos{
    background-color: #4caf50;
}
.oktoberfest{
    background-color: #FF9800;
}

.ler{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    color: #000;
    text-decoration: none;
}
.card-text{
    min-height: 150px;
    height: 100%;
}

/* ESTILIZAÇÃO DO FOOTER */
footer{
    background-color: #E53935;
    padding-top: 20px;
    color: #fff;
}
footer ul{
    padding: 0;
}
footer ul li {
    list-style: none;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer .container .container{
    padding: 20px 0;
    margin: 0 auto;
}

/* Box Shadow nos elementos */
nav, .vagas, .classificados, .curriculos, .cadastro1, .cadastro2,
.card{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}